.hero {
    color: #0b3a52;
    display: flex;
    justify-content: center;
    align-items: center;

}

.background-video {
    position: fixed;
    z-index: -1;
}
img.logo {
    display: block;
    margin: 20px auto;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    z-index: 2;
    filter: drop-shadow(0 0 0.75rem #00ffff);
}
.branding {
    position: relative;
    align-items: center;
    justify-content: center;
}

/*---------------------------------------------NAVIGATION---------------------------------------------------------*/
nav {
  background-color: #3333336b;
  border-color: #00ffff;
  border-width: 2px;
  padding: 20px;
}
nav a {
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-family: "Orbitron", sans-serif;
  z-index: 3;
}
nav a:hover {
  background-image: linear-gradient(to right,#00ffff65,#00000053);
  color: black;
}
nav a.active {
  background-image: linear-gradient(to right,#00ffff6c,#00000044);
  color: white;
}

/*-------------------------------------------------------------------------------------------------------------- */


/*---------------------------------------------TITLES---------------------------------------------------------*/
.title {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
}
.subtitle {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
}

.glowing-title {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    animation: glow 9s ease-in-out infinite alternate;
}
.glowing-title:hover {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 100px;
    z-index: 2;
    font-size: 80px;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
}
/*-------------------------------------------------------------------------------------------------------------- */


/*---------------------------------------------Buttons---------------------------------------------------------*/


.terms-buttons{
  justify-content: center;
  display: flex;
}

.action-button {
    height: 50px;
    width:150px;
    margin:10px;
    padding: 10px;
    background-color: #00000088;
    color: #00ffff;
    border-radius: 5px;
    border-color: #00ffff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}

.action-button:hover {
    height: 50px;
    width:150px;
    margin:10px;
    padding: 10px;
    background-color: #00ffff;
    color: #000000;
    border-radius: 5px;
    border-color: #00ffff;
    font-size: 20px;
    font-family: "Orbitron", sans-serif;
}
/*-------------------------------------------------------------------------------------------------------------- */

/*------------------------------------------------CARDS----------------------------------------------------------*/
.cards {
  max-width: 100%;
  margin: 1px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 20px;
}

.card {
  border: 1px solid  #00ffff;
  border-radius: 3px;
  background-color: #00ffff17;
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.card-title {
    display: block;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
    font-size: 70px;
    z-index: 2;
    text-align: center;
}
li{
    list-style-type: none;
    color: #64d0eb;
    font-family: "Orbitron", sans-serif;
}

.card .content {
  padding: 0.5rem;
}
.card-price {
    color: linear-gradient(to right,#00ffff,#000000);
    font-family: "Orbitron", sans-serif;
}

.card footer {
  background-color: #333333;
  color: white;
  padding: 0.5rem;
}
/*-------------------------------------------------------------------------------------------------------------- */

section{
    margin-top: 200px;
    height:auto;
    padding-top: 0;

}

/*Screens */
@media screen and (max-width: 1500px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 300%;
  }
  .card-title{
    font-size: 200%;
  }
  .nav{
    width:100%;
  }
}
@media screen and (max-width: 1080px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 200%;
  }
  .card-title{
    font-size: 100%;
  }
  .nav{
    width:100%;
  }
}
@media screen and (max-width: 800px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 200%;
  }
  .card-title{
    font-size: 100%;
  }
  .nav{
    width:100%;
  }
}
@media screen and (max-width: 600px) {
  img.logo{
    width: 50%;
    height: 50%;
  } 
  .glowing-title,.glowing-title:hover,.title{ 
    font-size: 200%;
  }
  .card-title{
    font-size: 100%;
  }
  .nav{
    width:100%;
  }
}
/*-------------------------------------------------------------------------------------------------------------- */


/*Animations*/
@keyframes glow {
  from {
    text-shadow: 0 0 10px #000000, 0 0 20px #fff, 0 0 30px #00ffff, 0 0 40px #00ffff, 0 0 50px #00ffff, 0 0 60px #00ffff, 0 0 70px #00ffff;
  }
  
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #00ffff 0 0 40px #00ffff 0 0 50px #00ffff 0 0 60px #00ffff 0 0 70px #00ffff 0 0 80px #00ffff;
  }
}